@import 'variables';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
html, body{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Saira Condensed', sans-serif;
  background-color: $darkest;
  color: $orange;
}
header{
  min-height: 64px;
  background-color: $red;
}
main{
  padding: 2em;
}

.partyPanel{
  background-color: $dark;
  width: 40%;
  padding: 0.2em 1em;
  
  @include for-phone--only{
    width: 90%;
    margin: auto;
  }
}


.card{
  display: flex;
  height: 64px;
  figure{
    margin: 0;
    padding: 0 0.5em;
  }
  img{
    flex: 1;
    width: 64px;
    border-radius: 50%;
  }
  .text{
    flex: 4;
    * > {
      margin: 0;
      display: inline;
    }
    .name{
      font-size: 1.5em;
      color: $red;
    }

  }

}