@import 'variables';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
html, body{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Saira Condensed', sans-serif;
  background-color: $darkest;
  color: $orange;
}
header{
  min-height: 64px;
  background-color: $red;
  text-align: center;
  color: $dark;
  h1{
    padding: 0;
    margin: 0;
  }
}
main{
  padding: 2em;
  display: flex;
  @include for-phone--only{
    flex-direction: column;
  }
}

.partyPanel{
  background-color: $dark;
  width: 40%;
  // flex: 1;
  min-width: 300px;
  padding: 0.5em 1em;
  
  @include for-phone--only{
    width: 90%;
    margin: auto;
  }
}
.potentials{
  max-width: 50%;
  margin-top: 4em;
  img{
    width: 100%;
    transform: scaleX(-1);
  }
}


.card{
  position: relative;
  display: flex;
  height: calc(64px + .8em);
  box-shadow: 0px 0px 4px black;
  padding: .4em;
  margin: 0.8em;
  .wrapper{
    margin: auto 0;
    display: flex;
  }
  figure{
    // margin: 0;
    margin: 0 0.5em;
  }
  .avatar{
    border-radius: 50%;
    background-color: grey;
    width: 64px;
    height: 64px;
    padding: 0;
    img{
      flex: 1;
      height: 64px;
      width: 64px;
      border-radius: 50%;
    }
  }
  .text{
    flex: 4;
    justify-content: space-around;
    p{
      margin: 0;
    }
    .name{
      font-size: 1.5em;
      color: $red;
    }

  }
  .leader{
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 86px;
      svg{
        transform: scale(0.3);
      }
  }

}
.mainUser{
  .leader{
    display: block;
  }
}
.center{
  line-height: 64px;
}
.hide{
  display:none;
}
.looking{
  box-shadow: 0px 0px 4px lime !important;
}
.busy{
  box-shadow: 0px 0px 4px red !important;
}
