extends layout

block content
    main
        .partyPanel
            h1 Current Party:
            .mainUser.card
                figure.avatar
                    img
                .text
                    p.name
                    p.status
            .log
        .potentials
    footer