doctype html
html
  head
    title= title
    link(rel='stylesheet', href='styles/style.css')
    link(rel='icon', href='favicon.png')
  body
    header
      h1 qUp
    block content
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js")
    script(src="scripts/client.js")